
*.exe
*.o

bissecao/interface
bissecao/bissecao
bissecao/funcoes
bissecao/entrada
bissecao/arquivo
bissecao/main

ponto-fixo/ponto-fixo
ponto-fixo/funcoes
ponto-fixo/entrada
ponto-fixo/main

newton/main
newton/newton

compiling_error.txt
